<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--  jQuery 全家桶  -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

    <!--  视频播放器  -->
    <link href="https://cdn.bootcss.com/dplayer/1.25.0/DPlayer.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/dplayer/1.25.0/DPlayer.min.js"></script>

    <!--  CodeMirror  -->
    <link href="https://cdn.bootcss.com/codemirror/5.48.0/codemirror.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/codemirror/5.48.0/codemirror.min.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.48.0/addon/mode/loadmode.min.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.48.0/mode/meta.min.js"></script>

    <!--  moment.js  -->
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/locale/zh-cn.js"></script>

    <!--  async队列  -->
    <script src="https://cdn.bootcss.com/async/3.1.0/async.min.js"></script>

    <!--  默认兜底的文件图标  -->
    <!--default_icon_src-->
    <script src="/scripts/default_icon_script"></script>

    <!--  个性化文件图标  -->
    <script src="/scripts/custom_icon_script"></script>


    <script src="/scripts/icons_script"></script>

    <!--  个性化样式  -->
    <link href="/style" rel="stylesheet">
</head>
<body>
<noscript>
    <strong>We're sorry but webpack doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
